{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":2,"column":15},"action":"insert","lines":["boto3","flask","python-decouple"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":15},"end":{"row":2,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":43,"mode":"ace/mode/text"}},"timestamp":1709663470508,"hash":"0bcb8270950f264e58a80f9b699f1c3c382158b6"}